<%= form_for current_user, :url => create_photo_url, :html => { :multipart => true } do |f| %>


<h3>Choose at least a square Picture, NEAR 200 X 200</h3>
<div class="clear">&nbsp;</div>
  <fieldset>
    <%= f.file_field :photo %>
  </fieldset>
  <%= f.submit 'Add' %>
<% end %>

