log/*.log
log/*.pid
tmp/**/*
tmp
config/database.yml
config/sphinx.yml
config/environments/development.rb
config/environments/production.rb
config/environments/ext.rb
config/development.sphinx.conf
config/ext.sphinx.conf
config/production.sphinx.conf
public/*.html
public/assets/*
public/stylesheets/sass/*
public/stylesheets/global.css
public/system
public/sprockets.js
Gemfile.local
db/sphinx/development/*
db/sphinx
db/schema.rb
bin/
app/views/new_mailer/network_update_css_out.erb
doc/sdoc
.sass-cache/*
.rvmrc
.bundle
Guardfile
.rbenv-version
bin/
public/uploads
.DS_Store
npm-debug.log
.vagrant
*.swo
*.swp
*.swn

/config/credentials/production.key

.env
