<h3>Bonjour Mathieu!</h3>

<p>Tu as reçu un message de <%= @email_name %> à propos de <%= @email_subject %></p>

<br/>
Voici le contenue:
<br/>

<p><%= @email_body %></p>

L'addresse de réponse est <%= @email_address %><br/>
Au revoir,<br/>
4nkh.com<br/>
