<h3>Bonjour Mathieu!</h3>

<p>Tu as reçu un message de <%= @name %> à propos de <%= @subject %></p>

<br/>
Voici le contenue:
<br/>

<p><%= @body %></p>

L'addresse de réponse est <%= @address %><br/>
Au revoir,<br/>
4nkh.com<br/>
