<% content_for (:head) do %>
  <style>
     #header{height:120px;}
     #header_inner{height:0px;}
  </style>
<% end %>
<h2 class="subtitle" style="text-align:center;padding:15px 0 35px 0;">Drag & Drop</h2>

<div class="position_wrapper" style="width:500px;margin:0 auto;">
  <%= render :partial => 'shared/position_user', :locals => { :user => @user } %>
</div>

