<div id="window">
	<object id="world_foot" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="782" height="287">
		<param name="movie" value="/images/csc.swf">
		<param name="quality" value="high">
		<param name="bgcolor" value="#FFFFFF">
		<param name="wmode" value="transparent">
    	<embed name="world" src="/images/csc.swf" width="782" height="287" quality="high" bgcolor="#FFFFFF" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
	</object>						
     </div> 
  
