<div id="hostinglist" class="hosting" style="display:none;">
   <div><%= link_to 'basic', "javascript:recordCookie('onglets','onglets1', '30');" %></div>
   <div><%= link_to 'standard', "javascript:recordCookie('onglets','onglets2', '30');" %></div>
   <div><%= link_to 'premium', "javascript:recordCookie('onglets','onglets3', '30');" %></div>
   <div><%= link_to 'supreme', "javascript:recordCookie('onglets','onglets4', '30');" %></div>
</div>



