<div id="portfoliolist" class="portfolio" style="display:none;">
  <div><%= link_to 'platforme web', '/fr/folios' %></div>
  <div><%= link_to 'modeles 3D', '/fr/services' %></div>
  <div><%= link_to 'animations', '/fr/services' %></div>
  <div><%= link_to 'environements', '/fr/environment/nasa' %></div>
</div>


