<div id="portfoliolist" class="portfolio" style="display:none;">
  <div><%= link_to 'layouts', '/folios' %></div>
  <div><%= link_to '3D models', '/services' %></div>
  <div><%= link_to 'animations', '/services' %></div>
  <div><%= link_to 'environments', '/environment/nasa' %></div>
</div>


