<div id="position_content">
        <ul id="graphic<%= current_user.id %>" class="graphic left">

           <% user.each do |user| %>
             <%= render :partial => '/users/user', :object => user %>
           <% end %>

        </ul>

</div>

<% content_for :js do %>
  <% javascript_tag do %>
    $('#graphic<%= current_user.id %>').sortable(
        {
          handle: '.handler',
          items: 'li',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post',
                data: $('#graphic<%= current_user.id %>').sortable('serialize'),
                dataType: 'script',
                complete: function(request){ /*$('#graphic').effect('highlight');*/
                  },
                url: '/users/prioritize_tasks'})
            }
          })
  <% end %>
<% end %>
