<div id="position_content">
        <ul id="graphic"class="graphic left">

           <% folios.each do |folio| %>
             <%= render :partial => '/folios/folio', :object => folio %>
             <%#= link_to 'edit', edit_folio_path(folio.id) %>
           <% end %>

        </ul>

</div>

