#seolist.seo{:style => "display:none;"}
  %div= link_to 'basic', "javascript:tapefrCookie('seo','seo1', '30');"
  %div= link_to 'standard', "javascript:tapefrCookie('seo','seo2', '30');" 
  %div= link_to 'premium', "javascript:tapefrCookie('seo','seo3', '30');" 
