<!-- AddThis Button BEGIN -->
           <div style="float:right;" class="addthis_toolbox addthis_default_style">
             <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=gunz0"    class="addthis_button_compact"></a>
             <span class="addthis_separator">|</span>
             <a class="addthis_button_facebook"><img alt="Fb" onmouseout="this.src='/images/fb.gif'" onmouseover="this.src='/images/fb1.gif'" src="/images/fb.gif" /></a>
             <a class="addthis_button_bebo"><img alt="Bebo" onmouseout="this.src='/images/bebo.gif'" onmouseover="this.src='/images/bebo1.gif'" src="/images/bebo.gif" /></a>
             <a class="addthis_button_digg"><img alt="Digg" onmouseout="this.src='/images/digg.gif'" onmouseover="this.src='/images/digg1.gif'" src="/images/digg.gif" /></a>

             <a class="addthis_button_google"><img alt="Gg" onmouseout="this.src='/images/gg.gif'" onmouseover="this.src='/images/gg1.gif'" src="/images/gg.gif" /></a>
             <a class="addthis_button_twitter"><img alt="Twit" onmouseout="this.src='/images/twit.gif'" onmouseover="this.src='/images/twit1.gif'" src="/images/twit.gif" /></a>
             <a class="addthis_button_delicious"><img alt="Del" onmouseout="this.src='/images/del.gif'" onmouseover="this.src='/images/del1.gif'" src="/images/del.gif" /></a>
             <a class="addthis_button_amazonwishlist"><img alt="Az" onmouseout="this.src='/images/az.gif'" onmouseover="this.src='/images/az1.gif'" src="/images/az.gif" /></a>
             <a class="addthis_button_myspace"><img alt="Ms" onmouseout="this.src='/images/ms.gif'" onmouseover="this.src='/images/ms1.gif'" src="/images/ms.gif" /></a>

           </div>

             <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=gunz0"></script>
              <!-- AddThis Button END -->


