<div id="websitelist" class="website" style="display:none;">
  <div><%= link_to 'gamers', '/fr/folios' %></div>
  <div><%= link_to 'socials', '/fr/folios' %></div>
  <div><%= link_to 'personnal', '/fr/folios' %></div>
  <div><%= link_to 'business', '/fr/folios' %></div>
</div>



