<% content_for :flash do %>
<%= render :partial => 'shared/fr' %>
<% end %>

<%= render :partial => 'shared/crumb' %>
<div id="map_wrapper">

<fieldset>         
          <div class="pusher" id="slideToggle"><h2 class="subtitle">Blog</h2></div>
           <div class="mover">
             <ul class="graphic group">
               <li>post
               </li>
             </ul>
           </div>
    </fieldset>
</div>

   
 
  
