<% content_for :hd_inner do %>
<%= render :partial => 'shared/banner' %>
<% end %>

<div class="map">
<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=121+Chemin+Bourget+Rigaud+Qc&amp;sll=49.891235,-97.15369&amp;sspn=25.098398,56.337891&amp;ie=UTF8&amp;hq=&amp;hnear=121+Chemin+Bourget,+Rigaud,+Vaudreuil-Soulanges,+Qu%C3%A9bec&amp;ll=45.474096,-74.298306&amp;spn=0.036112,0.051498&amp;z=13&amp;output=embed"></iframe><br /><small><a href="http://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=121+Chemin+Bourget+Rigaud+Qc&amp;sll=49.891235,-97.15369&amp;sspn=25.098398,56.337891&amp;ie=UTF8&amp;hq=&amp;hnear=121+Chemin+Bourget,+Rigaud,+Vaudreuil-Soulanges,+Qu%C3%A9bec&amp;ll=45.474096,-74.298306&amp;spn=0.036112,0.051498&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>

<div class="contact_tip">
<h2 style="border-bottom:1px solid #444;">Contact us</h2>

   
<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>

<h3>By phone</h3>

<div class="clear">&nbsp;</div> 
<div class="clear">&nbsp;</div>

<p>(450) 451-5742</p>
 
<p>(514) 833-5319</p>
 
<p>121 Chemin Bourget</p>
 
<p>Rigaud Qc.</p> 
<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div> 
 

<h3>By e-mail</h3>
<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>
<a href="mailto:legrenierdemamere@hotmail.com" style="font-size:15px;color:#39c;text-decoration: underline;">legrenierdemamere@hotmail.com
  </a>
</div>

 
  
