- content_for :head do 
  :css
    #header_inner {-moz-box-shadow:-3px 8px 10px 2px #999;-webkit-box-shadow:-5px 10px 10px #999;box-shadow:-5px 10px 10px #999;}

:javascript
  window.onload=function()
  {
  onglets=getCookie('onglets');
  if (onglets!=null && onglets!="")
    {
    showhosting('onglets', onglets, '30');
    }
  else
    {
    showhosting('onglets', 'onglets1', '30');
    }
    //onglets.style.display = 'block';
    console.log(onglets);
  }

- content_for :hd_inner do 
  #slider
    = link_to image_tag('hbasic.jpg'), "javascript:showhosting('onglets', 'onglets1', '30');"
    = link_to image_tag('hstandard.jpg'), "javascript:showhosting('onglets', 'onglets2', '30');" 
    = link_to image_tag('hpremium.jpg'), "javascript:showhosting('onglets', 'onglets3', '30');"
    = link_to image_tag('hsupreme.jpg'), "javascript:showhosting('onglets', 'onglets4', '30');" 

.tab
  %a#myHeader1{:style => "color:#66b95f;", :href => "javascript:showhosting('onglets', 'onglets1', '30');"} Basic
  %a#myHeader2{:style => "color:#5098ed;", :href => "javascript:showhosting('onglets', 'onglets2', '30');"} Standard
  %a#myHeader3{:style => "color:#ead917;", :href => "javascript:showhosting('onglets', 'onglets3', '30');"} Premium  
  %a#myHeader4{:style => "color:#700201;", :href => "javascript:showhosting('onglets', 'onglets4', '30');"} Supreme

- if current_page?(hosting_path)
  #onglets4{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#700201;"} Supreme
      .clear &nbsp;    
                  
      %ul{:class => "column first"}
        %p This product is ideal for you if you want to host your contained and you have a website static or slightly dynamic.
        %br 
        %p You will benefit from flexible payment option and competitive. Also if you have an interest in service administration and maintenance of your server, it will always be possible to add these services to your monthly payment.
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 7 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 700 MB / RAM</span> 

      %ul.column
        %p The supreme plan is to offer an bigger storage space, ideal for a large amount of files or applications that use the hard disk to store datas. The processor and memory are available in a good quantity to supply large applications.
        %br
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 5 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>  
      %ul{:class => "column last"}
        %p We offer accommodation all over the internets site we create. This is an easy and economical for you to get the right service for the made. Since we are best placed to advise you on equipment needs, we strongly suggest you to discuss about your needs with us to choose the plan that suits you.
        %br
        %p As always we offer a personalized service to our customers, we invite you to cummniquer with us for further information. The suggested prices are subject to change at any time.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;

  #onglets3{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#ead917;"} Premium
      .clear &nbsp;
              
      %ul{:class => "column first"}
        %p This product is ideal for you if you want to host your contained and you have a website static or slightly dynamic.
        %br
        %p You will benefit from flexible payment option and competitive. Also if you have an interest in service administration and maintenance of your server, it will always be possible to add these services to your monthly payment.
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 7 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 700 MB / RAM</span> 

      %ul.column
        %p The premium plan is to offer an intermediate storage space, ideal for a medium amount of files or applications that use content distribution networks (CDN). The processor and memory are available in limited quantity and speed but enough for medium size applications.
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 5 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
      %ul{:class => "column last"}
        %p We offer accommodation all over the internets site we create. This is an easy and economical for you to get the right service for the made. Since we are best placed to advise you on equipment needs, we strongly suggest you to discuss about your needs with us to choose the plan that suits you.
        %br
        %p As always we offer a personalized service to our customers, we invite you to cummniquer with us for further information. The suggested prices are subject to change at any time.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;

  #onglets2{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#5098ed;"} Standard
      .clear &nbsp;
    
      %ul{:class => "column first"}
        %p This product is ideal for you if you want to host your contained and you have a website static or slightly dynamic.
        %br
        %p You will benefit from flexible payment option and competitive. Also if you have an interest in service administration and maintenance of your server, it will always be possible to add these services to your monthly payment.
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 7 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 700 MB / RAM</span> 

      %ul.column
        %p The standard plan is to offer an intermediate storage space, ideal for a medium amount of files or applications that use content distribution networks (CDN). The processor and memory are available in limited quantity and speed but enough for medium size applications.
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 5 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
      
      %ul{:class => "column last"}
        %p We offer accommodation all over the internets site we create. This is an easy and economical for you to get the right service for the made. Since we are best placed to advise you on equipment needs, we strongly suggest you to discuss about your needs with us to choose the plan that suits you.
        %br
        %p As always we offer a personalized service to our customers, we invite you to cummniquer with us for further information. The suggested prices are subject to change at any time.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;
  
  #onglets1{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#66b95f;"} Basic
      .clear &nbsp;
      
      %ul{:class => "column first"}
        %p This product is ideal for you if you want to host your contained and you have a website static or slightly dynamic.
        %br
        %p You will benefit from flexible payment option and competitive. Also if you have an interest in service administration and maintenance of your server, it will always be possible to add these services to your monthly payment.
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 7 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 700 MB / RAM</span> 
        
      %ul.column
        %p The Basic plan is to offer an small storage space, ideal for a tiny amount of files or applications that use content distribution networks (CDN). The processor and memory are available in limited quantity and speed but enough for small size applications.
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 5 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
        
      %ul{:class => "column last"}
        %p We offer accommodation all over the internets site we create. This is an easy and economical for you to get the right service for the made. Since we are best placed to advise you on equipment needs, we strongly suggest you to discuss about your needs with us to choose the plan that suits you.
        %br
        %p As always we offer a personalized service to our customers, we invite you to cummniquer with us for further information. The suggested prices are subject to change at any time.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;

- else

  #onglets4{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#700201;"} Supreme
      .clear &nbsp;    
                
      %ul{:class => "column first"}
        %p Ce produit est idéale pour vous si vous désirez héberger votre contenue et que vous avez un site internet static ou légèrement dynamique.
        %br
        %p Vous bénéficierez de modalité de paiement flexible et compétitive. De plus si vous avez de l'intérêt pour des service d'administration et de maintenance de votre serveur, il sera toujours possible d'ajouter ces services à vos mensualités.
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 200 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 4G / RAM</span> 
      %ul.column
        %p Le plan suprème consiste à vous offrir un espace de stockage plus vaste, idéale pour une grande quantité de fichier ou pour les applications utilisant le disque dur interne pour enmagasiné des donnés. Le processeur ainsi que la mémoire sont disponible en grande quantité pour soutenir des applications de bonne envergure. 
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 10 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
        
      %ul{:class => "column last"}
        %p Nous offrons l'hébergement sur tout les site internets que nous créons. C'est une façon facile et économique pour vous d'obtenir le service adéquat pour le produit confectionné. Puisque nous sommes les mieux placé pour vous conseiller sur les besoins matériel, nous vous suggéront fortement de discuter de vos besoins avec nous pour choisir le plan qui vous conviendra. 
        %br
        %p Comme nous offrons toujours un service personalisé à notre clientèle, nous vous invitions à cummniquer avec nous pour obtenir de plus ample informations. Les prix suggérés sont sujet à être changer en tout temps.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;

  #onglets3{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#ead917;"} Premium
      .clear &nbsp;
            
      %ul{:class => "column first"}
        %p Ce produit est idéale pour vous si vous désirez héberger votre contenue et que vous avez un site internet static ou légèrement dynamique.
        %br
        %p Vous bénéficierez de modalité de paiement flexible et compétitive. De plus si vous avez de l'intérêt pour des service d'administration et de maintenance de votre serveur, il sera toujours possible d'ajouter ces services à vos mensualités.
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 10 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 1 GB / RAM</span> 
      %ul.column
        %p Le plan premium consiste à vous offrir un espace de stockage intermediaire, idéale pour une quantité moyenne de fichier ou pour les applications utilisant des réseaux de distribution de contenus (CDN). Le processeur ainsi que la mémoire sont disponible en quantité et vitesse restreinte mais suffisante pour des applications de grandeur moyenne. 
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 10 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
        
      %ul{:class => "column last"}
        %p Nous offrons l'hébergement sur tout les site internets que nous créons. C'est une façon facile et économique pour vous d'obtenir le service adéquat pour le produit confectionné. Puisque nous sommes les mieux placé pour vous conseiller sur les besoins matériel, nous vous suggéront fortement de discuter de vos besoins avec nous pour choisir le plan qui vous conviendra. 
        %br
        %p Comme nous offrons toujours un service personalisé à notre clientèle, nous vous invitions à cummniquer avec nous pour obtenir de plus ample informations. Les prix suggérés sont sujet à être changer en tout temps.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;

  #onglets2{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#5098ed;"} Standard
      .clear &nbsp;
  
      %ul{:class => "column first"}
        %p Ce produit est idéale pour vous si vous désirez héberger votre contenue et que vous avez un site internet static ou légèrement dynamique.
        %br
        %p Vous bénéficierez de modalité de paiement flexible et compétitive. De plus si vous avez de l'intérêt pour des service d'administration et de maintenance de votre serveur, il sera toujours possible d'ajouter ces services à vos mensualités.
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 7 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 700 MB / RAM</span> 
      %ul.column
        %p Le plan standard consiste à vous offrir un espace de stockage intermediaire, idéale pour une quantité moyenne de fichier ou pour les applications utilisant des réseaux de distribution de contenus (CDN). Le processeur ainsi que la mémoire sont disponible en quantité et vitesse restreinte mais suffisante pour des applications de grandeur moyenne. 
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 5 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
        
      %ul{:class => "column last"}
        %p Nous offrons l'hébergement sur tout les site internets que nous créons. C'est une façon facile et économique pour vous d'obtenir le service adéquat pour le produit confectionné. Puisque nous sommes les mieux placé pour vous conseiller sur les besoins matériel, nous vous suggéront fortement de discuter de vos besoins avec nous pour choisir le plan qui vous conviendra. 
        %br
        %p Comme nous offrons toujours un service personalisé à notre clientèle, nous vous invitions à cummniquer avec nous pour obtenir de plus ample informations. Les prix suggérés sont sujet à être changer en tout temps.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;

  #onglets1{:name => "onglets", :style => "display:none;"}
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    .clear &nbsp;
    #title.group{:style => "border-radius-topleft:0px;-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;"}
      .clear &nbsp;
      %h2.h2_title{:style => "color:#66b95f;"} Basic
      .clear &nbsp;
      %ul{:class => "column first"}
        %p Ce produit est idéale pour vous si vous désirez héberger votre contenue et que vous avez un site internet complètement static.
        %br
        %p Vous bénéficierez de modalité de paiement flexible et compétitive. De plus si vous avez de l'intérêt pour des service d'administration et de maintenance de votre serveur, il sera toujours possible d'ajouter ces services à vos mensualités.
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 5 GB / HD</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 500 MB / RAM</span> 
      %ul.column
        %p Le plan basic consiste à vous offrir un espace de stockage limité, idéale pour une petite quantité de fichier ou pour les applications utilisant des réseaux de distribution de contenus (CDN). Le processeur ainsi que la mémoire sont disponible en quantité et vitesse très restreinte mais suffisante pour des applications de petite grandeur. 
        %br
        %br
        %br
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; 3 GB / BW</span>
        %br
        %p <span style="padding-left:30px;font-weight:bold;font-size:30px;">&bull; FIREWALL</span>
        
      %ul{:class => "column last"}
        %p Nous offrons l'hébergement sur tout les site internets que nous créons. C'est une façon facile et économique pour vous d'obtenir le service adéquat pour le produit confectionné. Puisque nous sommes les mieux placé pour vous conseiller sur les besoins matériel, nous vous suggéront fortement de discuter de vos besoins avec nous pour choisir le plan qui vous conviendra. 
        %br
        %p Comme nous offrons toujours un service personalisé à notre clientèle, nous vous invitions à cummniquer avec nous pour obtenir de plus ample informations. Les prix suggérés sont sujet à être changer en tout temps.
        .clear &nbsp;
        .clear &nbsp;
    .clear &nbsp;
  