- content_for :hd_inner do
  = image_tag 'mobile_phone_tablet.png', :alt => 'mobile', :title => 'mobile'

:css
  #header_inner img {margin:-65px 0 0 102px;}
  
.clear &nbsp; 
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;
.clear &nbsp;

- if current_page?(mobile_path)
  #title.group
    .clear &nbsp; 
    %h2.h2_title Mobile & Applications
    .clear &nbsp;
    %ul{:class => "column first"}
      %p We build from scratch a wide variety of applications, complatibles on most of the main platforms like smartphones and tablet. Indeed the growing demand for mobile applications or tablet wins businesses that can no longer afford to neglect what these tools are now part of our daily activities.
      %br
      %p Give us a mandate to move you in that environment with either native applications or internet.
      .clear &nbsp;  
      .clear &nbsp;
    %ul.column{:style => "border-left:2px solid #EEE;border-right:2px solid #EEE;"}
      %p In fact we specialize in software or games developement on Android devices (Google) and Iphone/Ipad (Apple) but we can also work on Blackberry/Playbook (RIM) and phone7 Windows (Microsoft).
      %br
      %p We use technologies that dominate the market, to meet rising standards but also to allow more flexibility to your platform. We will inform you about the differences, limitations and specificity between them.
      .clear &nbsp;
      .clear &nbsp;
    %ul{:class => "column last"}
      %p Members of our company will surprise you with their integrity and their proffessionalismes.
      %br
      %p Meet our experts, ask advice and you will see that your goals are accessible at competitive price.
      .clear &nbsp;  
      .clear &nbsp;
      = link_to "soumission", mailform_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
      .clear &nbsp;
      .clear &nbsp;

  .clear &nbsp;

- else
  
  #title.group
    .clear &nbsp; 
    %h2.h2_title Mobile & Applications
    .clear &nbsp;
    %ul{:class => "column first"}
      %p Nous fabriquons de toute pièce une grande variété d'applications, complatibles sur la plus part des platformes principale de type téléphone intelligent et tablette. La demande grandissante d'applications mobile ou tablette gagne les entreprises qui ne peuvent plus ce permettre de négliger ces outils qui font maintenant partie de notre quotidiens.
      %br
      %p Donnez nous le mandat de vous positionnez dans ce milieu que ce soit avec des applications native ou internet.
      .clear &nbsp;  
      .clear &nbsp;
      
    %ul.column{:style => "border-left:2px solid #EEE;border-right:2px solid #EEE;"}
      %p En effet nous nous spécialisons dans le developement de logiciel ou jeux sur les appareils Android (Google) et Iphone/Ipad (Apple) mais nous pouvons également travailler sur Blackberry/Playbook (RIM) et Windows phone7 (Microsoft). 
      %br
      %p Nous utilisons des technologies qui dominent le marché, pour respecter des standards élever mais aussi pour permettre plus de flexibilité à votre platforme. Nous vous informerons sur les différences, restrictions et spécificité entre ceux-ci. 
      .clear &nbsp;
      .clear &nbsp;
    %ul{:class => "column last"}
      %p Les membres de notre entreprise vous surprendront par leurs intégrités et leurs proffessionalismes.
      %br
      %p Rencontrez nos experts, demandez des conseils et vous verrez que vos objectifs sont accessibles à un prix concurenciel.
      .clear &nbsp;
      .clear &nbsp;
      = link_to "soumission", mailformfr_path, :class => "btn-more", :rel => "shadowbox;width=500;height=600", :title => ""
      .clear &nbsp;
      .clear &nbsp;

  .clear &nbsp;
        