<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>

<div id="cosy_dialog" class="group">
     
     <ul class="column first">
      <p>Muzica isn’t Yet Another Place to Put Your Music. Rather, we power a site that’s yours. So instead of ads for Sexy Singles Chat, your fans see your design, your music, your URL. You retain all ownership rights, and we just hang out in the background handling the tech stuff.
      Choice. We offer your tracks in mp3, AAC, FLAC, Ogg...all the formats your überfans demand. Choose between giving away your music, setting a price, letting folks name their price – it’s up to you.</p>
    </ul>
    
    <ul class="column">
      <p>
Viral distribution. We give your fans drop-dead easy tools to share your music with their friends, and most importantly we do it in a way that drives traffic back to you. We also give you complete transparency into how your music is spreading, with...

The motherflippin’ stats party. We show you where your fans are coming from, what they’re listening to, even which tracks they’re obsessed with versus which ones they’re skipping over. And we make it real purdy, too.</p> 
    </ul>
    
    <ul class="column last">
      <p>Your fifth (very nerdy) Beatle. We provide fast, dependable streaming and downloads of your entire catalog, adorn your tracks with all the metadata they need to sail into iTunes with artwork, titles, and so on intact, and mutter the various incantations necessary to get your site top-ranked in Google. All things we know you could do, but we suspect you’d rather focus on your music. Well, think of us as your invisible bandmate who loves that other stuff. And we won't even ask to play tambourine.</p>
    </ul>
</div>
<div class="clear">&nbsp;</div>
