

/*canvas {backgroundColor: "#2d3443"}

plugins {
   controls {
      backgroundGradient: 'low',
      tooltipColor: '#000000',
      borderRadius: '10',
      progressGradient: 'none',
      volumeSliderGradient: 'none',
      buttonOverColor: '#b4b6df',
      volumeBorder: '1px solid rgba(128, 128, 128, 0.7)',
      bufferGradient: 'none',
      volumeColor: '#2d3443',
      bufferColor: '#25090b',
      sliderColor: '#676879',
      timeSeparator: ' ',
      progressColor: '#e4e5e7',
      sliderGradient: 'none',
      autoHide: 'never',
      timeBgColor: '#00021e',
      volumeSliderColor: '#401218',
      durationColor: '#a4a6e0',
      buttonColor: '#6579a4',
      backgroundColor: '#000000',
      sliderBorder: '1px solid rgba(128, 128, 128, 0.7)',
      timeColor: '#e5e6e5',
      timeBorder: '0px solid rgba(0, 0, 0, 0.3)',
      tooltipTextColor: '#ffffff',
      height: 24,
      opacity: 1.0
   }
}*/




div.controls { 
	position:relative;
	height:8px;
	margin:12px 0 0;
	padding:5px 0 0;
}

/* when play button toggles between play/pause class 
	we move it's background image */
div.controls a.play, div.controls a.pause { 
	position:absolute;
	width: 18px;
	height:10px;
	text-indent:-999em;
	cursor:pointer;
	overflow:hidden;
	background:url(/images/play_pause.gif) center top no-repeat;
	margin-top: -10px;	
}

div.controls a.pause { 
	background-position:center -10px;
}

/* the track or "scrubber"  */
div.controls div.track { 
	position:absolute;
	top:-6px;	
	height:18px;
	left:20px;
	background:url(/images/track.gif) no-repeat;
	text-align:left;
	cursor:pointer;
	width:722px;	
}

/* the draggable playhead */
div.controls div.playhead { 
	position:absolute;	
	height:12px;
	background:url(/images/playhead.png) no-repeat;
	cursor:pointer;
	top:0px; 
	width:12px;
}

/* buffer and controls are automatically resized, their initial width should be 0 */
div.controls div.progress, div.controls div.buffer {	
	background-color:#fff;
	height:6px;
	margin:3px 4px;
	width:0px;
	position:absolute;
	top:0;
	font-size:0px;	
	
	/* this is the way to fine tune buffer and progress max width */
	max-width:712px;
}

div.controls div.buffer {
	background-color:#999;
}

/* som proprietary styling for progress bar under mozilla */
div.controls div.progress {
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-topleft:2px;	
}

/* hide time and controls in Apple look */
div.controls div.time, div.controls a.mute, div.controls a.unmute {
	display:none;		
}



