#page { width: 1004px; padding: 25px 0 10px; }
section { position: relative; }

/*CSS repositioning*/

#clientsList { height: 1359px; }
	
#acq { top: 151px; left: 0; }
#axa { top: 1057px; left: 753px; }
#bkom { top: 1057px; left: 502px; }
#bombardier { top: 906px; left: 0; }
#elexpertise { top: 302px; left: 753px; }
#fruitsPassion { top: 0; left: 502px; }
#hemaQuebec { top: 604px; left: 251px; }
#ino { top: 906px; left: 753px; }
#lelarge { top: 755px; left: 251px; }
#metro { top: 0; left: 0; }
#karotz { top: 906px; left: 502px; }
#mondou { top: 151px; left: 251px; }
#pmtRoy { top: 302px; left: 502px; }
#rabaisAssurance { top: 604px; left: 0; }
#sanfacon { top: 0; left: 251px; }
#sourisMini { top: 604px; left: 502px; }
#stHubert { top: 302px; left: 0; }
#stm { top: 453px; left: 502px; }
#tfo { top: 453px; left: 753px; }
#voxco { top: 755px; left: 0; }

#clientsButton { top: 1208px; left: 0; }



/* 768px Resolution */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media screen and (max-device-width: 768px) {
	#clientsList { height: 1661px; }
	
	#acq { top: 0; left: 502px; }
	#axa { top: 1510px; left: 251px; }
	#bkom { top: 1510px; left: 0; }
	#bombardier { top: 1208px; left: 251px; }
	#elexpertise { top: 604px; left: 0; }
	#fruitsPassion { top: 151px; left: 0; }
	#hemaQuebec { top: 1057px; left: 0; }
	#ino { top: 1359px; left: 0; }
	#lelarge { top: 1057px; left: 502px; }
	#metro { top: 0; left: 0; }
	#karotz { top: 1208px; left: 0; }
	#mondou { top: 151px; left: 502px; }
	#pmtRoy { top: 302px; left: 502px; }
	#rabaisAssurance { top: 906px; left: 502px; }
	#sanfacon { top: 0; left: 251px; }
	#sourisMini { top: 755px; left: 0; }
	#stHubert { top: 453px; left: 251px; }
	#stm { top: 453px; left: 0; }
	#tfo { top: 755px; left: 502px; }
	#voxco { top: 1057px; left: 251px; }
	
	#clientsButton { top: 1510px; left: 502px; }
}




/* 1024px Resolution */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media screen and (min-width: 1024px) {
	#clientsList { height: 1359px; }
	
	#acq { top: 151px; left: 0; }
	#axa { top: 1057px; left: 753px; }
	#bkom { top: 1057px; left: 502px; }
	#bombardier { top: 906px; left: 0; }
	#elexpertise { top: 302px; left: 753px; }
	#fruitsPassion { top: 0; left: 502px; }
	#hemaQuebec { top: 604px; left: 251px; }
	#ino { top: 906px; left: 753px; }
	#lelarge { top: 755px; left: 251px; }
	#metro { top: 0; left: 0; }
	#karotz { top: 906px; left: 502px; }
	#mondou { top: 151px; left: 251px; }
	#pmtRoy { top: 302px; left: 502px; }
	#rabaisAssurance { top: 604px; left: 0; }
	#sanfacon { top: 0; left: 251px; }
	#sourisMini { top: 604px; left: 502px; }
	#stHubert { top: 302px; left: 0; }
	#stm { top: 453px; left: 502px; }
	#tfo { top: 453px; left: 753px; }
	#voxco { top: 755px; left: 0; }
	
	#clientsButton { top: 1208px; left: 0; }
}




/* 1280px Resolution */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media screen and (min-width: 1280px) {
	#clientsList { height: 1057px; }
	
	#acq { top: 0; left: 502px; }
	#axa { top: 906px; left: 251px; }
	#bkom { top: 906px; left: 0; }
	#bombardier { top: 453px; left: 753px; }
	#elexpertise { top: 302px; left: 1004px; }
	#fruitsPassion { top: 0; left: 753px; }
	#hemaQuebec { top: 755px; left: 0; }
	#ino { top: 755px; left: 1004px; }
	#lelarge { top: 755px; left: 502px; }
	#metro { top: 0; left: 0; }
	#karotz { top: 755px; left: 753px; }
	#mondou { top: 151px; left: 502px; }
	#pmtRoy { top: 302px; left: 502px; }
	#rabaisAssurance { top: 604px; left: 0; }
	#sanfacon { top: 0; left: 251px; }
	#sourisMini { top: 453px; left: 251px; }
	#stHubert { top: 151px; left: 0; }
	#stm { top: 302px; left: 753px; }
	#tfo { top: 453px; left: 0; }
	#voxco { top: 755px; left: 251px; }
	
	#clientsButton { top: 906px; left: 502px; }
}




/* 1600px Resolution */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media screen and (min-width: 1600px) {
	#clientsList { height: 906px; }
	
	#acq { top: 0; left: 502px; }
	#axa { top: 755px; left: 251px; }
	#bkom { top: 755px; left: 0; }
	#bombardier { top: 453px; left: 502px; }
	#elexpertise { top: 302px; left: 502px; }
	#fruitsPassion { top: 0; left: 753px; }
	#hemaQuebec { top: 453px; left: 251px; }
	#ino { top: 604px; left: 1255px; }
	#lelarge { top: 604px; left: 251px; }
	#metro { top: 0; left: 0; }
	#karotz { top: 604px; left: 1004px; }
	#mondou { top: 0; left: 1255px; }
	#pmtRoy { top: 151px; left: 502px; }
	#rabaisAssurance { top: 453px; left: 0; }
	#sanfacon { top: 0; left: 251px; }
	#sourisMini { top: 302px; left: 1004px; }
	#stHubert { top: 151px; left: 0; }
	#stm { top: 151px; left: 1255px; }
	#tfo { top: 302px; left: 753px; }
	#voxco { top: 604px; left: 0; }
	
	#clientsButton { top: 755px; left: 502px; }
}