= stylesheet_link_tag 'jquery.lightbox.css'
- content_for :hd_inner do
  #thumb_wrapper
    %ul.thumb
      = render @folio
      
  = will_paginate @folio 

#map_wrapper{:style => "font-size:12px;"}
  - if current_page?(folios_path)

    #title.group
      .clear &nbsp;
      %h2.h2_title Video Games
      .clear &nbsp;
     
      %ul{:class => "column first", :style => "font-size:16px;"}
        %p Our company design, develops and produces video games or kinematic involving 2D-3D animations. We have the expertise to modelize characters, objects or architectural elements. We will be happy to make the model animation for film or more interactive purpose, depending on how well this will suit your plans.
        %br
        %p We are developing right now with several forms of technology, whether conventional or emerging.
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p We believe that <b>WebGL</b> technology is the future of video games, interactive applications and websites that can have very rich graphics. We strongly encourage you to consider this for the development of your technology choice.
        %br
        %p As with other language or technology, the platforms choice on which you plan to publish your game is very important. We have much experience on a wide range of 3D engine as well as many different platforms.
        .clear &nbsp;
        .clear &nbsp;
      %ul{:class => "column last"}
        %p Whether for conventional games like "Desktop" settling directly on an operating system, for games who reach mobile customer or web browsers, 4nkh développement may be with you throughout the conception.
        %br
        %p Come visit us and discuss with our experts to build your strategy and development schedule according to your specifications.
        
  - else

    #title.group
      .clear &nbsp;
      %h2.h2_title Jeux Vidéo
      .clear &nbsp;

      %ul{:class => "column first", :style => "font-size:16px;"} 
        %p Notre entreprise fait la conception, développe et réalise des jeux vidéo ou des cinématiques impliquant de l'animations 2D-3D. Nous avons l'expertise pour modéliser des personages, des objets ou des éléments architecturaux. Il nous fera plaisir de réaliser l'animation de modèles à des fins interactive ou cinématographique, dépendament de ce qui conviendra à vos projets. 
        %br
        %p Nous développons en ce moment avec plusieurs formes de technologie, qu'elles soient conventionnelles ou émergentes.  
        .clear &nbsp;
        .clear &nbsp;
      %ul.column
        %p Nous considérons que la technologie <b>WEBGL</b> représente l'avenir des jeux vidéo, des applications et sites internet interactif pouvant posséder du graphisme très riche. Nous vous encourageons fortement à en tenir compte dans l'élaboration de vos choix technologique.
        %br
        %p Tout comme pour language ou autres technologies, le choix de ou des plateformes sur lesquels vous avez l'intention de publier votre jeux est très important. Nous avons beaucoup d'expérience sur un vaste éventail de moteur 3D ainsi que sur une multitude de plateformes différente.
        .clear &nbsp;
        .clear &nbsp;
      %ul{:class => "column last"}
        %p Que ce soit pour des jeux conventionnels de type "Desktop" s'installant directement sur un système d'exploitation, des jeux s'addressant à une clientèle mobile ou encore des jeux de fureteurs internet, 4nkh developement peut-être avec vous tout au long de l'élaboration.
        %br
        %p Venez-nous rencontrer et discuter avec nos experts pour établir votre stratégie et calendrier de développement selon vos spécifications.
        .clear &nbsp;
        .clear &nbsp;